.nav-card__noshadow {
    background: linear-gradient(var(--color-surface-0) 60%,rgba(20, 138, 134, 0.1) 100%);
}

body {
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,sans-serif;
}

.page-首页 .mw-body-header,
.page-首页 .previewnote,
.page-首页 .page-info {
	display: none;
}

.skin-citizen-dark .adaptive-img img {
	filter: invert(1)!important;
}